body {
    font-family: 'Poppins', sans-serif;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

/* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

/* Top left text */
.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

/* Top right text */
.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

/* Bottom right text */
.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

a {
    flex: none;
}


h1 {
    font-size: 50px;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(aqua, tomato);
    padding: 15px 45px;
    border-radius: 5px;
    font-weight: 700;
}

.container {
    display: flex;
    gap: 20px;
}

.items {
    width: 100px;
    height: 100px;
    background: burlywood;

}


.item-2 {
    background: red;
    margin-left: -15px;
}

.other {
    padding: 200px;
}